<!-- TODO: fields of the forms are still unknown so it is still impossible to change the style of the fields of the Form-->


{% extends "base.html" %}

{% block title %}Log In{% endblock %}

{% block content %}
    <!-- <div class="log">
        <h2>Log In</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Log In</button>
        </form>
    </div> -->
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">

                  <div class="mb-md-5 mt-md-4 pb-5">

                    <h2 class="fw-bold mb-2 text-uppercase">ROOM</h2>

                      <br>
                      <h2>
                          {% include "messages.html" %}
                      </h2>

                    <div class="form-outline form-white mb-4">
                        <form method="post" class="">
                            {% csrf_token %}
                            {{ form.as_p }}
{#                            <div class="form-outline form-white mb-4">#}
{#                                <!-- <label class="form-label" for="typeEmailX">Password</label> -->#}
{#                                <!-- <p>{{ form.password }}</p> -->#}
{#                                <input type="password" name="password1" class="form-control form-control-lg" value="{{ data.password1 }}" placeholder="Enter new password">#}
{#                            </div>#}
{##}
{#                            <div class="form-outline form-white mb-4">#}
{#                                <!-- <label class="form-label" for="typeEmailX">Password</label> -->#}
{#                                <!-- <p>{{ form.password }}</p> -->#}
{#                                <input type="password" name="password2" class="form-control form-control-lg" value="{{ data.password2 }}" placeholder="confirm new password">#}
{#                            </div>#}

                            <button type="submit" class="btn btn-outline-light btn-lg px-5">Change password</button>
                        </form>
                    </div>

                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock %}

