{% extends "base.html" %}

{% block title %}Log In{% endblock %}

{% block content %}
    <!-- <div class="log">
        <h2>Log In</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Log In</button>
        </form>
    </div> -->
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">

                  <div class="mb-md-5 mt-md-4 pb-5">

                    <h2 class="fw-bold mb-2 text-uppercase">ROOM</h2>

                    <p class="text-white-50 mb-5">Please enter your login and password!</p>

                      <h2>
                          {% include "messages.html" %}
                      </h2>

                    <div class="form-outline form-white mb-4">
                        <form method="post" class="">
                            {% csrf_token %}
{#                            <div class="form-outline form-white mb-4">#}
{#                                <input type="password" class="form-control form-control-lg" name="old_password" value="{{ data.old_password }}" placeholder="Old Password" />#}
{#                            </div>#}
{##}
{#                            <div class="form-outline form-white mb-4">#}
{#                                <input type="password" class="form-control form-control-lg" name="new_password1" value="{{ data.new_password1 }}" placeholder="New Password" />#}
{#                            </div>#}
{##}
{#                            <div class="form-outline form-white mb-4">#}
{#                                <input type="password" class="form-control form-control-lg" name="new_password2" value="{{ data.new_password2sasasasaasasas }}" placeholder="Confirm Password" />#}
{#                            </div>#}

                            {% for field in form.as_p %}

{#                                    {{ field }}#}
                                    <div class="form-outline form-white mb-4">
                                        <input type="password" class="form-control form-control-lg" name="new_password2" value="{{ field }}"  placeholder="Confirm Password"/>
                                    </div>

                            {% endfor %}
                            <button type="submit" class="btn btn-outline-light btn-lg px-5">Change Password</button>
                        </form>
                    </div>

                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock %}