{% extends 'base.html' %}
{#{% load static %}#}
{##}
{#{% block title %}#}
{#    {{ user.username }} - Rooms#}
{#{% endblock %}#}
{##}
{#{% block content %}#}
{#    <h2>{{ user.username }}</h2>#}
{#    {% if user.profile_image %}#}
{#        <img class="rounded-circle account-img" src="{{ user.profile_image.url }}" alt="" style="width: 100px; height:100px">#}
{#        <img class="rounded-circle account-img" src="{%  static 'images/blank-profile-picture.png' %}" alt="" style="width: 100px; height:100px">#}
{#        <img src="{%  static 'images/blank-profile-picture.png' %}" alt="" style="width: 100px; height:100px">#}
{#    {% endif %}#}
{#{% endblock %}#}
{% block content %}
{% load static %}

    <div class="container d-flex justify-content-center">
        <div class="card p-3 py-4" style="border-radius: 16px">
            <div class="text-center">
{#                {% if user.profile_image %}#}
{#                    <h1 style="color:black">YES</h1>#}
{#                {% endif %}#}
{#                <img src="{% static 'images/blank.jpg' %}" alt="" width="100" class="rounded-circle">#}


                <div style="text-align: right">
                    <button class="btn btn-primary">+Follow</button>
                </div>
                <img src="{{ user.profile_image.url }}" alt="" width="100" class="rounded-circle">
{#                <br>#}
{#                <br>#}
{#                <button class="btn btn-outline-primary">Message</button>#}
{#                <img src="{% static 'images/blank-profile-picture.png' %}" width="100" class="rounded-circle">#}
                <h3 class="mt-2" style="color:black">{{ user.username }}</h3>
                <span class="mt-1 clearfix" style="color:black">{{ user.email }}</span>

                <div class="row mt-3 mb-3" style="color:black">

                  <div class="col-md-4">
                    <h5>Rooms</h5>
                    <span class="num">16</span>
                  </div>
                  <div class="col-md-4">
                  <h5>Followers</h5>
                    <span class="num">153</span>
                  </div>
                  <div class="col-md-4">
                  <h5>Follows</h5>
                    <span class="num">78</span>
                  </div>
                </div>

                <hr class="line">

                <small class="mt-4" style="color:black">{{ user.bio }}</small>
                <small>___________________________________________________________________</small>
                  <div class="social-buttons mt-5">
                   <button class="neo-button"><i class="fa fa-facebook fa-1x"></i> </button>
                   <button class="neo-button"><i class="fa fa-linkedin fa-1x"></i></button>
                   <button class="neo-button"><i class="fa fa-google fa-1x"></i> </button>
                   <button class="neo-button"><i class="fa fa-youtube fa-1x"></i> </button>
                   <button class="neo-button"><i class="fa fa-twitter fa-1x"></i> </button>
                  </div>

                 <div class="profile mt-5">

            </div>

            </div>
        </div>
    </div>
{% endblock  %}