{% extends 'base.html' %}

{% block title %}Rooms{% endblock %}

{% block content %}
    <h1>Rooms</h1>

    <div style="text-align: right">
        <div>
            <h3>Browse Rooms</h3>
        </div>
        <div>
            <form method="GET" action="{% url 'room_list' %}">
                <input type="text" name="q" placeholder="Search Room..." style="border-radius: 15px; padding: 9px">
            </form>
        </div>
    </div>
{#    <div class="rooms-list">#}
{#        <div class="room room-list-name">#}
{#            <span class='list'><b>Room Name</b></span>#}
{#            <span class="list"><b>Creator</b></span>#}
{#            <span class="list"><b>Date</b></span>#}
{#            <span class="list"><b>Users</b></span>#}
{#        </div>#}
{#    </div>#}
{#    {% for room in object_list %}#}
{#        <div class="rooms-list room">#}
{#            <span class='list'><a href="{% url 'room_detail' room.pk %}"> {{ room.title }} </a></span>#}
{#            <span class="list">{{ room.creator }}</span>#}
{#            <span class="list">{{ room.date }}</span>#}
{#            <span class="list">{{ room.online_users }}/{{ room.number_of_users }}</span>#}
{#        </div>#}
{#    {% endfor %}#}

<div class="container" style="background-color: white; border-radius: 0.6rem;">
<div class="row">
	<div class="col-lg-12">
		<div class="main-box clearfix">
			<div class="table-responsive">
				<table class="table user-list">
					<thead>
						<tr>
							<th><span style="font-weight: bold">Room</span></th>
							<th><span style="font-weight: bold">Created</span></th>
							<th class="text-center"><span style="font-weight: bold">Status</span></th>
							<th class="text-center"><span style="font-weight: bold">Description</span></th>
							<th class="text-center"><span style="font-weight: bold">Users</span></th>
                            <th></th>
						</tr>
					</thead>
					<tbody>
                        {% for room in rooms %}
                            <tr>
                                <td>
    {#								<img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">#}
                                    <img src="{{ room.room_image.url }}" alt="" class="rounded-circle">
                                    <a href="{% url 'room_detail' room.title %}" class="user-link">{{ room.title }}</a>
                                    <span class="user-subhead">{{ room.creator }}</span>
                                </td>
                                <td>
                                    {{ room.date }}
                                </td>
                                <td class="text-center">
                                    {% if room.is_private %}
                                        <span class="label label-default"><i>Private</i></span>
                                    {% else %}
                                        <span class="label label-default"><i>Public</i></span>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {{ room.description }}
                                </td>
                                <td>
                                    {{ room.number_of_users }}
                                </td>
                                <td style="width: 20%; text-align: right">
{##}                                {% if room.creator == user %}
                                    <a href="{% url 'room_edit' room.title %}" class="table-link">
                                        <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                    <a href="{% url 'room_delete' room.title %}" class="table-link">
                                        <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i class="fa fa-trash fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                    {% endif %}
                                    {% if room in user.rooms.all %}
                                    <a href="{% url 'room_detail' room.title %}" class="table-link">
                                        <span class="btn btn-primary btn-rounded btn-outline" style="border-radius: 20px">

                                            >Enter

                                        </span>
                                    </a>
                                    {% else %}
                                    <a href="{% url 'room_detail' room.title %}" class="table-link">
                                        <span class="btn btn-primary btn-rounded btn-outline" style="border-radius: 20px">

                                            +Join

                                        </span>
                                    </a>
                                    {% endif %}
                                </td>

                            </tr>
                        {% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
</div>

{% endblock %}