{#{% extends 'base.html' %}#}
{##}
{#{% block title %}Delete{% endblock %}#}
{##}
{#{% block content %}#}
{##}
{#    <h2>Delete</h2>#}
{#    <p>Are sure want to delete the room: {{ room.title }}</p>#}
{#    <form method="POST">#}
{#        {%  csrf_token %}#}
{#        {{ form.as_p }}#}
{#        <button class="btn btn-danger ml-2" type="submit">Delete</button>#}
{#    </form>#}
{#{% endblock %}#}

{#{% extends 'base.html' %}#}
{##}
{#{% block title %}Create Room{% endblock %}#}
{##}
{#{% block content %}#}
{##}
{#    <h2>Create Room</h2>#}
{#    <p>fill all forms for creating Room</p>#}
{##}
{#    <form method="POST">#}
{#        {% csrf_token %}#}
{#        {{ form.as_p }}#}
{#        <input type="submit" class="btn btn-success" value="Create Room">#}
{#    </form>#}
{##}
{#{% endblock %}#}

{% extends "base.html" %}

{% block title %}Room Create{% endblock %}

{% block content %}
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">

                  <div class="mb-md-5 mt-md-4 pb-5">

                    <h2 class="fw-bold mb-2 text-uppercase">ROOM</h2>
                      <br>

                      <h2>
                          {% include "messages.html" %}
                      </h2>

                      <p>Are you sure want to delete Room <h2>{{ room.title }}</h2></p>

                    <div class="form-outline form-white mb-4">
                        <form method="post" class="">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-light btn-lg px-5">Delete Room</button>
                        </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock %}