[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.2.13"
environs = {version = "==8.0.0", extras = ["django"]}

[dev-packages]

[requires]
python_version = "3.9"
