{% extends 'base.html' %}

{% block title %}Rooms{% endblock %}

{% block content %}
    <h1>Rooms</h1>
    <div class="rooms-list">
        <div class="room room-list-name">
            <span class='list'><b>Room Name</b></span>
            <span class="list"><b>Creator</b></span>
            <span class="list"><b>Date</b></span>
            <span class="list"><b>Users</b></span>
        </div>
    </div>
    {% for room in object_list %}
        <div class="rooms-list room">
            <span class='list'><a href="{% url 'room_detail' room.pk %}"> {{ room.title }} </a></span>
            <span class="list">{{ room.creator }}</span>
            <span class="list">{{ room.date }}</span>
            <!-- <span class="list">{{ room.room_password }}</span> -->
            <span class="list">{{ room.online_users }}/{{ room.number_of_users }}</span>
        </div>
    {% endfor %}
{% endblock %}