@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"); /*@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');*/

/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*    font-family: 'Noto Sans', sans-serif*/
/*}*/

/*html,*/
/*body {*/
/*    height: 100%*/
/*}*/

/*body {*/
/*    display: grid;*/
/*    place-items: center;*/
/*    background: #AB47BC*/
/*}*/

/*.card {*/
/*	color:#fff;*/
/*    width: 350px;*/
/*    border-radius: 10px;*/
/*   background: linear-gradient(145deg, #9a40a9, #b74cc9);*/
/*box-shadow:  20px 20px 60px #913ca0,*/
/*             -20px -20px 60px #c552d8;*/
/*    border: none*/
/*}*/

/*.neo-button {*/
/*    width: 40px;*/
/*    height: 40px;*/
/*    outline: 0 !important;*/
/*    cursor: pointer;*/
/*    color: #fff;*/
/*    font-size: 15px;*/
/*    border: none;*/
/*    margin-right: 10px;*/
/*    border-radius: 50%;*/
/*background: linear-gradient(145deg, #9a40a9, #b74cc9);*/
/*box-shadow: inset 20px 20px 60px #913ca0,*/
/*             inset -20px -20px 60px #c552d8;*/
/*}*/

/*.num{*/

/*	color:#eee !important;*/
/*}*/

/*.line{*/
/*	color:#fff;*/
/*}*/

/*.neo-button:active {*/
/*   border-radius: 50%;*/
/*background: #AB47BC;*/
/*box-shadow:  28px 28px 57px #933da2,*/
/*             -28px -28px 57px #c351d6;*/
/*}*/

/*.fa-facebook {*/
/*    color: #3b5998*/
/*}*/

/*.fa-linkedin {*/
/*    color: #0077b5*/
/*}*/

/*.fa-google {*/
/*    color: #dc4e41*/
/*}*/

/*.fa-youtube {*/
/*    color: #cd201f*/
/*}*/

/*.fa-twitter {*/
/*    color: #55acee*/
/*}*/

/*.profile_button{*/
/*	color:#fff;*/
/*	padding:10px;*/
/*   border:none;*/
/*   outline:0 !important;*/
/*border-radius: 50px;*/
/*background: #AB47BC;*/
/*box-shadow:  28px 28px 57px #933da2,*/
/*             -28px -28px 57px #c351d6;*/

/*}*/

/* start LIST */

body{margin-top:20px;}


/* USER LIST TABLE */
.user-list tbody td > img {
    position: relative;
	max-width: 50px;
	float: left;
	margin-right: 15px;
}
.user-list tbody td .user-link {
	display: block;
	font-size: 1.25em;
	padding-top: 3px;
	margin-left: 60px;
}
.user-list tbody td .user-subhead {
	font-size: 0.875em;
	font-style: italic;
}

/* TABLES */
.table {
    border-collapse: separate;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
	background-color: #eee;
}
.table thead > tr > th {
	border-bottom: 1px solid #C2C2C2;
	padding-bottom: 0;
}
.table tbody > tr > td {
	font-size: 0.875em;
	background: white;
	border-top: 10px solid #fff;
	vertical-align: middle;
	padding: 12px 8px;
}
.table tbody > tr > td:first-child,
.table thead > tr > th:first-child {
	padding-left: 20px;
}
.table thead > tr > th span {
	border-bottom: 2px solid #C2C2C2;
	display: inline-block;
	padding: 0 5px;
	padding-bottom: 5px;
	font-weight: normal;
}
.table thead > tr > th > a span {
	color: #344644;
}
.table thead > tr > th > a span:after {
	content: "\f0dc";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	margin-left: 5px;
	font-size: 0.75em;
}
.table thead > tr > th > a.asc span:after {
	content: "\f0dd";
}
.table thead > tr > th > a.desc span:after {
	content: "\f0de";
}
.table thead > tr > th > a:hover span {
	text-decoration: none;
	color: #2bb6a3;
	border-color: #2bb6a3;
}
.table.table-hover tbody > tr > td {
	-webkit-transition: background-color 0.15s ease-in-out 0s;
	transition: background-color 0.15s ease-in-out 0s;
}
.table tbody tr td .call-type {
	display: block;
	font-size: 0.75em;
	text-align: center;
}
.table tbody tr td .first-line {
	line-height: 1.5;
	font-weight: 400;
	font-size: 1.125em;
}
.table tbody tr td .first-line span {
	font-size: 0.875em;
	color: white;
	font-weight: 300;
}
.table tbody tr td .second-line {
	font-size: 0.875em;
	line-height: 1.2;
}
.table a.table-link {
	margin: 0 5px;
	font-size: 1.125em;
}
.table a.table-link:hover {
	text-decoration: none;
	color: #2aa493;
}
.table a.table-link.danger {
	color: #fe635f;
}
.table a.table-link.danger:hover {
	color: #dd504c;
}

.table-products tbody > tr > td {
	background: none;
	border: none;
	border-bottom: 1px solid #ebebeb;
	-webkit-transition: background-color 0.15s ease-in-out 0s;
	transition: background-color 0.15s ease-in-out 0s;
	position: relative;
}
.table-products tbody > tr:hover > td {
	text-decoration: none;
	background-color: white;
}
.table-products .name {
	display: block;
	font-weight: 600;
	padding-bottom: 7px;
}
.table-products .price {
	display: block;
	text-decoration: none;
	width: 50%;
	float: left;
	font-size: 0.875em;
}
.table-products .price > i {
	color: #8dc859;
}
.table-products .warranty {
	display: block;
	text-decoration: none;
	width: 50%;
	float: left;
	font-size: 0.875em;
}
.table-products .warranty > i {
	color: #f1c40f;
}
.table tbody > tr.table-line-fb > td {
	background-color: white;
	color: #262525;
}
.table tbody > tr.table-line-twitter > td {
	background-color: #9fccff;
	color: #262525;
}
.table tbody > tr.table-line-plus > td {
	background-color: #eea59c;
	color: #262525;
}
.table-stats .status-social-icon {
	font-size: 1.9em;
	vertical-align: bottom;
}
.table-stats .table-line-fb .status-social-icon {
	color: #556484;
}
.table-stats .table-line-twitter .status-social-icon {
	color: #5885b8;
}
.table-stats .table-line-plus .status-social-icon {
	color: #a75d54;
}

/* end LIST */

.navbar-icon-top .navbar-nav .nav-link > .fa {
  position: relative;
  width: 36px;
  font-size: 24px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  font-size: 0.75rem;
  position: absolute;
  right: 0;
  font-family: sans-serif;
}

.navbar-icon-top .navbar-nav .nav-link > .fa {
  top: 3px;
  line-height: 12px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  top: -10px;
}

@media (min-width: 576px) {
  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 768px) {
  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 992px) {
  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 1200px) {
  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}


body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    }
    header {
    border-bottom: 1px solid #999;
    margin-bottom: 2rem;
    display: flex;
    }
    header h1 a {
    color: cyan;
    text-decoration: none;
    }
    .nav-left {
    margin-right: auto;
    }
    .nav-right {
    display: flex;
    padding-top: 2rem;
    }
    .post-entry {
    margin-bottom: 2rem;
    }
    .post-entry h2 {
    margin: 0.5rem 0;
    }
    .post-entry a,
    .post-entry a:visited {
    color: black;
    text-decoration: none;
    }
    .post-entry p {
    margin: 0;
    font-weight: 400;
    }

.dark{
    color:white;
    background-color: #590995;
    margin: 0 auto;
  }

.light{
  color:black;
  background-color: white;
  margin: 0 auto;

}

a:visited{
  text-decoration: none;
  /*color:cyan;*/
}

h2 {
    color: cyan;
}

form {
    color: white;
}

.log {
  color : brown;
  background-color: #7209b7;
}
.room {
  display: inline;
  text-decoration: none;
}

.rooms-list {
  display: list-item;
  background: #1B0044;
  border: 1px solid #466995;
  margin: 0 200px  0 10px;
  padding: 20px;
}

.rooms-list-name {
  background-color: violet;
}

.list{
  display: inline-block;
  width: 400px;
  height: 20px;
  text-align: left;
  background: #1B0044;
}

.site-footer {
  min-width: 550px;
  background-color: #847462;
  color: #ffffff;
}

.site-footer .container {
  text-align: center;
}

.site-footer p {
  display: inline-block;
  vertical-align: middle;
  padding: 0 20px;
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/ 
  height: 40px;
  background: grey;
}


.footer {
  color: rgb(93, 89, 89);
}

.container {
  margin-left: 5%;
  margin-bottom: 10%;
  margin-top: 3%;
}

.message {
    font-size: 18px;
    background-color: red;
    color: white;
    padding: 10px;
    border: 1px solid #7209b7;
    border-radius: 7px;
}

.SUCCESS {
    background-color: lawngreen;
}

/*   
  header {
    background-color: #466995;
    border-bottom: 1px solid #466995;
    position: fixed;
    width: 100%;
    z-index: 10;
  }
  
  ul {
    margin: 30px auto;
    padding: 0 20px;
    text-align: center;
  }
  
  li {
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    display: inline-block;
    width: 80px;  
  }
  
  li:hover {
    color: #DBE9EE;
  }
  
  h1 {
    color: #466995;
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    font-weight: 300;
    text-transform: uppercase;
  }
  
  h2 {
    color: #333;
    font-family: 'Varela Round', sans-serif;
    font-size: 26px;
    font-weight: 100;
    margin: 0 auto 20px auto;
  }
  
  h3 {
    color: #466995;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    padding: 30px;
  }
  
  h4 {
    color: #466995;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase
  }
  
  p {
    color: #333;
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
  }
  
  footer {
    background-color: #DBE9EE;
    text-align: center;
    height: 100px;
  }
  
  .welcome {
    background-color: #DBE9EE;
    box-sizing: border-box;
    padding: 40px;
    text-align: center;
    width: 100%;
    position: relative;
    top: 50px;
  }
  
  .question {
    text-align: center;
    position: relative;
    top: 40px;
  }
  
  .answer {
    border: 1px solid #466995;
    margin: 20px;
    display: inline-block;
  }
  
  .answer:hover {
    background: #C0D6DF;
    color: #FFF;
  } */