{% if messages and not messages.tags == 'SUCCESS' %}

    {% for message in messages %}

        {% if forloop.first %}

            {% if message.message == "Email is not verified, please check your email inbox" %}

                <div class="ui {{ message.tags }} message">
                    {{ message }}
                </div><br>

                <p class="small mb-5 pb-lg-2 text-white-50" style="font-size: 18px">
                    In case you lost the verification link
                    <a href="{% url 'resend' %}" class="text-white-50">Press here.</a>
                </p>

            {% else %}

                <div class="ui {{ message.tags }} message">
                    {{ message }}
                </div>

            {% endif %}

        {% endif%}

    {% endfor %}

{% endif %}